<div class="summary">
  <div class="title">
    <h4>Resumen de compras</h4>
  </div>
  <div class="products" *ngFor="let product of products">
    <span class="description">{{ product.description }}</span>
    <span class="price">$ {{ product.price }}</span>
  </div>
  <div class="price">
    <span class="description">Total a pagar</span>
    <span class="price">$ {{ totalPayment }} </span>
  </div>
  <button routerLink="/generate-order" type="button" class="btn btn-info btn-block">Comprar</button>
</div>
<div class="list-item-container">
  <div class="list-item" *ngFor="let product of products">
    <div class="list-item-image">
      <img src="{{ product.miniature }}" alt="{{ product.description }}">
    </div>
    <div class="list-item-content">
      <p class="list-item-description">{{ product.description }}</p>
      <p class="list-item-price">$ {{ product.price }}</p>
      <p class="list-item-icon" (click)="deleteElementShoppingBag(product.idProduct)">
        <i class="fas fa-times"></i>
      </p>
    </div>
  </div>
</div>