<div class="card" *ngFor="let product of products">
  <img [routerLink]="['/product-details', product.idProduct]" src="{{ product.miniature }}" class="card-img-top" alt="{{ product.description }}">
  <div class="card-body">
    <h6 [routerLink]="['/product-details', product.idProduct]" class="description">{{ product.description }}</h6>
    <h6 class="price">$ {{ product.price }}</h6>
    <button id="add-shopping-bag" (click)="setShoppingBag(product)" [disabled]="product.inStock > 0 ? false : true" type="button" class="btn btn-info btn-block">
      Agregar a la bolsa
    </button> 
  </div>
</div>