.card {
    margin: 10px 20px;
}

.card:hover {
    border-color: gray;
    box-shadow: 10px 10px #e9e9e9;
}

img {
    height: 222px;
    width: 222px;
}

img:hover {
    cursor: pointer;
}

h6.description {
    color: gray;
}

.description:hover {
    cursor: pointer;
}

h6.price {
    color: black;
    font-weight: bold;
}