<nav class="navbar">
  <a class="appName" routerLink="/home">Enchufados</a>
  <div class="searchContainer">
    <input class="searchInput" placeholder="Buscar" type="search">
    <button class="searchButton" type="button"><i class="fas fa-search"></i></button>
  </div>
  <div class="shoppingBagContainer">
    <a class="shoppingBag" routerLink="/shopping-bag">
      <i class="fas fa-shopping-bag"></i>
    </a>
    <span class="badge badge-secondary">
      {{ numElementsInShoppingBag }}
    </span>
  </div>
</nav>