<!--
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Enchufados</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div class="collapse navbar-collapse">
    <a class="navbar-brand" href="#"><i class="fas fa-shopping-bag"></i></a>
  </div> 
</nav>
-->
<nav class="navbar">
  <a class="appName" routerLink="/home">Enchufados</a>
  <div class="searchContainer">
    <input class="searchInput" placeholder="Buscar" type="search">
    <button class="searchButton" type="button"><i class="fas fa-search"></i></button>
  </div>
  <div class="shoppingBagContainer">
    <a class="shoppingBag" href="#"><i class="fas fa-shopping-bag"></i></a>
  </div>
</nav>