<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <form [formGroup]="generateOrderForm">
        <div class="form-row">
          <div class="col-12">
            <label for="name">Ingrese su nombre</label>
            <input #name formControlName="name" type="text" class="form-control" placeholder="Nombre completo">
          </div>
          <div class="col-12">
            <label for="bornDate">Fecha de nacimiento</label>
            <input #bornDate formControlName="bornDate" name="date" type="date" class="form-control" placeholder="Fecha de nacimiento">
          </div>
          <div class="col-12">
            <label for="city">Ciudad</label>
            <select #city name="city" class="custom-select custom-select-sm" formControlName="city">
              <option selected>Ciudad</option>
              <option value="Medellin">Medellín</option>
              <option value="Cali">Cali</option>
              <option value="Bogota">Bogotá</option>
            </select>
          </div>
          <div class="col-12">
            <label for="file">Fotocopia de su identificación</label>
            <input #file type="file" class="form-control-file" formControlName="file" (change)="uploadFile($event)">
          </div>
          <div class="col-12" *ngIf="!showWarning">
            <span class="warning">El peso de los archivos permitidos es máximo de 1MB</span>
          </div>
          <div class="col-12">
            <button [disabled]="!generateOrderForm.valid || !validFile" 
            class="btn btn-info btn-block" type="button" routerLink="/home"
            (click)="saveInfoOrder(name.value, bornDate.value, city.value, file.value)">
              Confirmar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>