@media only screen and (max-width: 768px) {
    app-list {
        align-items: stretch;
        align-content: stretch;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: stretch;
    }
}

@media only screen and (min-width: 768px) {
    app-list {
        align-items: stretch;
        align-content: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: stretch;
    }
}

.orders {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
    align-content: stretch;
    color: gray;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}